.row {
   display: flex;
   flex-wrap: wrap;
   margin: -10px;
}

.row>.column {
   padding: 10px;
}

.row-large {

   margin: -30px;
}

.row-large .column {
   padding: 30px;
}

.row-medium {}

.row-medium .column {}

@media (min-width: 480px) {
   .row {}
}