.section {

   &__products {
      padding: 32px 0 40px;
   }
}


.products__input {
   background-image: url(/img/icons/search.svg);
   background-repeat: no-repeat;
   background-position: 23px;
   background-size: 20px;
}